
name: Deploy

# The 'on' property specifies the events that will trigger this workflow
# intendation is required for the events
on:
    push:
        branches: ["main"]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: docker build . -t vikasgundarapu/next-js-app
    - run: echo "${{secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin
    - run: docker push vikasgundarapu/next-js-app:latest